node_modules
dist
dev-dist
.DS_Store
src/engine-pkg
android/app/build
android/build
android/.gradle
android/local.properties
android/app/src/main/assets/public
android/capacitor-cordova-android-plugins
ios/App/build
ios/App/Pods
ios/App/App/public
ios/capacitor-cordova-ios-plugins
